body{
  padding-top: 300px;
  overflow: hidden;
}

.hidden{
  display: none;
}
#bgImage{
  position:absolute;
  left: 0;
  top: 0;
  max-width: 100%;
  min-width: 1880px;
  max-height: 1400px;
  min-height: 1200px;
  z-index: -5;
  filter: brightness(90%);
  opacity: 0.33;
}

#login-form{
  text-align: center;
}
#login-form div{
  font-size: 30px;
  font-weight: bold;
}
#login-form input{
  border: none;
  border-bottom: 5px white solid;
  background: none;
  font-size: 30px;
  text-align: center;
}
#login-form input:focus{
  outline: none;
}

h2{
  text-align: center;
}

#todo-form{
  text-align: center;
}
#quote{
  position: fixed;
  bottom: 0;
  left: 0;

}

#weather{
  position: fixed;
  top: 0;
  right: 0;
}